###  REVISION

####  LAMBDA FUNCTION

In [ ]:
# function for square

In [1]:
def square(x):
    return x**2

In [3]:
square(4)

16

In [5]:
(lambda x : x**2)(8)

64

In [ ]:
# function for exponent of 'n' any number

In [7]:
def square1(x,n):
    return x**n

In [11]:
square(3,3)

27

In [12]:
(lambda x,n:x**n)(3,3)

27

In [14]:
(lambda x:x if x>5 else 0)(44)

44

In [ ]:
# write a lambda func to fetch marks of 'guzel'

In [16]:
students = [
    {'name':'sourabh','marks':50},
    {'name':'shubham','marks':70},
    {'name':'guzel','marks':60},
    {'name':'kumar','marks':80}
]

In [17]:
students

[{'name': 'sourabh', 'marks': 50},
 {'name': 'shubham', 'marks': 70},
 {'name': 'guzel', 'marks': 60},
 {'name': 'kumar', 'marks': 80}]

In [18]:
(lambda x:x[2]['marks'])(students)

60

In [ ]:
# or

In [21]:
get_marks = (lambda x:x['marks'])

In [23]:
get_marks(students[2])

60

In [ ]:
# write a lambda func to fetch marks of 'sourabh' and 'shubham'

In [26]:
(lambda x:x['marks'] if (x['name']=='shubham') or (x['name']=='sourabh'))(students)

SyntaxError: invalid syntax (3679589599.py, line 1)

In [27]:
(lambda x:x['marks'] if (x[i]==0) or (x[i]==2))(students)

SyntaxError: invalid syntax (4103546803.py, line 1)

In [28]:
(lambda x:x["marks"] if name=="A" or name=="B")(students)

SyntaxError: invalid syntax (1666261978.py, line 1)

#### HIGHER ORDER FUNCTION

In [30]:
def gen_exp(n):
    def exp(x):
        return x**n
    return exp
exp = gen_exp(2)
print(exp)

<function gen_exp.<locals>.exp at 0x000001CA4CFC7E50>

In [32]:
def gen_exp(n):
    def exp(x):
        return x**n
    return exp(3)
exp = gen_exp(2)
print(exp)

9

In [33]:
def gen_exp(n):
    def exp(x):
        return x**n
    return exp
exp = gen_exp(2)
print(exp) 
exp(10)

<function gen_exp.<locals>.exp at 0x000001CA4CC52EE0>

100

In [37]:
def gen_exp(n):
    def exp(x):
        return x**n
    return exp

gexp(10)  # since this variable is called before assignment, this is giving error  
gexp = gen_exp(2)
print(gexp)

NameError: name 'gexp' is not defined

In [38]:
def fun1():
    def fun2(a):
        return print('you have given this input: ',a)
    return fun2

In [42]:
a = fun1()

In [43]:
a

In [44]:
a(6)

you have given this input:  6

### DECORATORS

In [45]:
def boo(num):
    return print('this is number ',num)

In [52]:
def foo():
    print('-------')
    print(boo(8))
    print('--------')

In [54]:
a = foo()
a

-------
this is number  8
None
--------

In [63]:
def funn1():
    print('this is the answer')

In [64]:
def funn2(a):
    print('---------')
    funn1()
    print('---------')

In [65]:
funn2(funn1)

---------
this is the answer
---------

In [ ]:
# ------------------------------------------------------------------------

In [75]:
def func():
    print('what')

In [81]:
def pretty(func):
    def inner():
        print('------')
        func()
        print('------')
    return inner()

In [84]:
pretty(func)

------
what
------

In [ ]:
'@' this is a decorator.
# whatever fucn under @____ 
#                            (def foo():
#                                print('say')),  
# is passed to the defined @_'function'
# as pretty func expect some argument, so, decorator will replace this passed function as its argument.
# below is the example

In [83]:
@pretty
def foo():
    print('say')

------
say
------

### FUNCTIONAL PROGRAMING

#### MAP, FILTER, ZIP, REDUCE

#### map

In [ ]:
# map accept first argument as a function object and second as a iterator object (list,tuple,etc)

In [86]:
lst = [1,2,3]

In [104]:
list(map(lambda x:x**2 , lst))

[1, 4, 9]

In [95]:
[x**2 for x in lst]

[1, 4, 9]

In [98]:
square = lambda x : x**2

In [99]:
[square(x) for x in lst]

[1, 4, 9]

In [103]:
# ,map require function and iterator
list(map(square,lst))

[1, 4, 9]

In [ ]:
# more example of maps

In [ ]:
#1

In [105]:
def sums(x,y):
    return x+y

In [106]:
sums(1,2)

3

In [108]:
listt1 = [1,2,3]
listt2 = [4,5,6]

In [ ]:
# add listt1 listt2 using map

In [109]:
list(map(sums,listt1,listt2))

[5, 7, 9]

In [111]:
#2

In [ ]:
# add listt1 listt2 using map and lambda function

In [110]:
list(map(lambda x,y : x+y,listt1,listt2))

[5, 7, 9]

In [ ]:
#3

In [112]:
heights = [144,233,152,84,400,256,324,158,351,254,124,65,458]

In [ ]:
# write lambda function to print if 'S' if x is smaller than 300 else 'M'

In [ ]:
# (lambda argument 'x': 'value' if condition else 'value',iterator)

In [114]:
list(map(lambda x:'S' if x<300 else 'M',heights))

['S', 'S', 'S', 'S', 'M', 'S', 'M', 'S', 'M', 'S', 'S', 'S', 'M']

In [115]:
# write lambda function to print if 'S' if x is smaller than 200, 'M' if greater than 200 but less than 300 else 'G'

In [ ]:
# ('value' <if condition>,   else 'value' <if condition>       else 'value', iterator)

In [119]:
list(map(lambda x: 'S' if x<=200 else 'M' if 200<x<300 else 'G',heights))

['S', 'M', 'S', 'S', 'G', 'M', 'G', 'S', 'G', 'M', 'S', 'S', 'G']

#### FILTER

In [ ]:
#1

In [121]:
heights

[144, 233, 152, 84, 400, 256, 324, 158, 351, 254, 124, 65, 458]

In [123]:
# filter value greater than 250

In [122]:
[x for x in heights if x>250]

[400, 256, 324, 351, 254, 458]

In [ ]:
# filter accept function object which return boolean values.

In [126]:
list(filter(lambda x: x>250,heights))

[400, 256, 324, 351, 254, 458]

#### ZIP

In [ ]:
#1

In [ ]:
# zip a and b

In [127]:
a = [1,2,3]
b = ['a','b','c']

In [128]:
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [131]:
#2

In [129]:
a = [1,2,3,44,5,6]
b = ['a','b','c']

In [130]:
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
#3

In [132]:
a = [1,2,3,44,5,6]
b = ['a','b','c']
c = [7,8,9,6,5,4,1,2,3,5]
list(zip(c,b,a))

[(7, 'a', 1), (8, 'b', 2), (9, 'c', 3)]

### ASSIGNMENT

In [ ]:
#1 
# What will be the output of the following code snippet:

In [133]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [ ]:
'''
The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Working :  

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

give x if x is greater else y
x y (x>y) <become new x>  y  (x>y)  y   (x>y) - final_result
1 2   2        2          3    3    4    4       4

'''

In [144]:
# 2
# What will the output of the following code snippet:

sentence = "abc cde def"
result = tuple(map(lambda x: list(x), sentence.split(" ")))

In [145]:
print(result)

(['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f'])

In [140]:
s = "abc cde def"
s.split(' ')

['abc', 'cde', 'def']

In [143]:
list('abc')

['a', 'b', 'c']

In [ ]:
#3
# What will be the output of the following code snippet:

In [155]:
string = '''
We spent several years building our own database engine, Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.
'''
result = lambda key, val: key[ key.find(val) -18 : key.find(val) +18 ] if val in key else -1

print(result(string, 'SQL'))

a fully-managed MySQL and PostgreSQL

In [156]:
'SQL' in string

True

In [150]:
s = ' YOU OU, what are you doing, how was your weekend? '
s.find('OU')

2

In [154]:
s = ' YOU OU, what are you doing, how was your weekend? '
s[0:3]

' YO'

In [ ]:
#4

In [ ]:
# What will be the output of the following code snippet?

In [157]:
array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]

result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]

In [158]:
print(result(array))

[1, 2, 3, 4, 5]

In [ ]:
#5

In [ ]:
# Which given option is equivalent to the following code:

In [159]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)

In [160]:
print(list(result))

[]

In [161]:
list(filter(lambda x: x<0,array))

[]

#### ADDITIONAL PROBLEM

In [ ]:
# What will be the output of the following code snippet:

In [162]:
from functools import reduce
array = {1, 2, 3}

result = lambda array: reduce(lambda P, x: P + [subset | {x} for subset in P], array , [set()])

In [163]:
print(result(array))

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]

In [ ]:
#2

In [164]:
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name = "sam"
result = list(filter(lambda x : name in x.lower() , ids))
print(result)

['SAM@gmail.com', 'sam@gmail.com', 'samJohnson@iit.com', 'SAM@harvard.com']